*{
    font-family: jost,sans-serif;
}
.dropdown-menu{
    font-weight: 600;
}
.get-it{
    color: white;
    background-color: blueviolet;
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
}
section{
    padding: 80px 30px;
}
/* section 1 styling */
.section1-header{
    font-weight: 700;
    color: #1d256b;
    text-align: center;
}
.line{
    width: 100%;
    height: 2px;
    background-color: grey;
}
/* section2 styling */
.section2-inner{
    justify-content: space-evenly;
    padding: 50px 0px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.section-text{
  padding: 0px 15px;
}
.section2-h{
    color:#1d256b;
    font-weight: 600;
    padding-bottom: 15px;
    margin: 0px;
}
.section2-p{
   padding-bottom: 15px;
    font-size: 19px;
    line-height: 1.5;
    font-weight: 500;
    color: #353535;
}
.section-pic{
    padding: 0px 15px;
    height: auto;
}
.section2-pic{
   display: flex;
   justify-content: center;
   margin: auto;
   height: auto;
    border-radius: 32px 100px 32px 32px;
    object-fit: cover;
}
.section2-second{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #f3f5fd;
    border-radius: 10px;
}
.section3-h{
    color: #1d256b;
    font-weight: 600;
    padding-bottom: 15px;
    margin: 0px;
}
.section-text{
    justify-content: end;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.icon-img{
    width: 21px;
    height: 21px;
}
.ss{
    margin: 0px;
    margin-left: 10px;
    font-size: 20px;
    color: #1d256b;
    
    font-weight: 600;
}
footer{
    background-color:#0a1c3a;
    color: white;
    
}
.footer-inner{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.big{
    width: 30%;
}
.footer-element{
    padding: 0px 5px;
    
    
}
.footer-h{
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.footer-t{
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 600;
    color: white;
    margin: 0px;
    text-decoration: none;
}
.footer-t:hover{
    color: rgb(83, 43, 226);
}
.bi-cart{
    margin: 20px 0px;
}
.pp{
    margin-left: 10px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #fff;
}
.footer-end{
    padding: 30px 20px;
}

.footer-icons{
    padding: 10px;
    display: grid;
    margin: 0px 5px;
    background-color: #696CFF;
    align-items: center;
    border-radius: 50%;
}
.footer-icons:hover{
    background-color: #222731;
}
.footer-logo{
    margin: 5px 10px;
    color: white;
}
.footer-logo:hover{
    color: darkblue;
}
.footer-list{
    padding: 7px 0px;
    list-style-type: none;
}
.b{
    font-weight: 600;
    color: white;
}
.links-footer{
    color: white;
    font-size: 17px;
    font-weight: 600;
    
}
.section6{
    padding: 50px 20px;
}
.section6-each{
    padding: 10px;
}

.links-footer:hover{
color: #f8bc3e;
}
@media screen and (max-width:992px) {
    .footer-inner{
        display: block;
    }
    .footer-element{
        width: 100%;
    }
}
@media screen and (max-width:992px){
    .section2{
        max-width: 960px;
    }
    .section2-inner{
        margin: auto;
        align-items: normal;
    }
    .section2-text,.section-pic{
        padding: 30px;
    }
}